body {
	background-color: #4285f4;
	margin: 10px;
}

.input {
	font-size: 16px;
	height: 34px;
	line-height: 34px;
	margin: auto;
	width: 65%;
}

.searchbar {
	margin: auto;
	width: 100%;
}

.word_box {
	background-color: #dddddd;
	border-style: solid; border-color: #bbbbbb; border-radius: 2px;
	color: #4285f4;
	display: inline-block;
	font-family: arial,sans-serif; font-weight: bold; font-size: 20px;
	margin: auto;
	padding: 11px 11px 11px 11px;
	position: absolute;
	text-align: center;
	transform: translate(-50%, 0);
}